In [1]:
import pandas as pd

In [2]:
# File to Load
csv_file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(csv_file)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#Total number of players
player_count = len(purchase_data_df["SN"].unique())
player_df = pd.DataFrame({"Total Players": [player_count]})
player_df

   Total Players
0            576

In [8]:
# Calculate the number of unique items
item_count = len(purchase_data_df["Item Name"].unique())
# Calculate the average price
ave_price = purchase_data_df["Price"].mean()
# Calculate the total number of purchases
purchase_count = len(purchase_data_df["Purchase ID"])
# Calculate the total revenue
revenue = purchase_data_df["Price"].sum()

purchase_analysis_df = pd.DataFrame({"Number of Unique Items":[item_count],
                                     "Average Price":[ave_price],
                                     "Number of Purchases":[purchase_count],
                                     "Total Revenue":[revenue]                                    
                                    })
#format the $$ value columns
purchase_analysis_df["Average Price"] = purchase_analysis_df["Average Price"].map("${:,.2f}".format)
purchase_analysis_df["Total Revenue"] = purchase_analysis_df["Total Revenue"].map("${:,.2f}".format)

purchase_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [6]:
gender = purchase_data_df["Gender"].value_counts()

gender_df = pd.DataFrame({"Total Count":gender})
gender_df["Percentage of Players"] = gender_df['Total Count'] / gender_df["Total Count"].sum() * 100
gender_df["Percentage of Players"] = gender_df["Percentage of Players"].map("{:,.2f}%".format)
gender_df

                       Total Count Percentage of Players
Male                           652                83.59%
Female                         113                14.49%
Other / Non-Disclosed           15                 1.92%

In [ ]:
gender_df["Average Purchase Price"] = gender_df['Total Count'] / gender_df["Total Count"].sum() * 100