In [1]:
import pandas as pd

In [2]:
# File to Load
csv_file = "Resources/purchase_data.csv"
# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(csv_file)

# Player Count

In [3]:
#Total number of players
player_count = len(purchase_data_df["SN"].unique())
player_df = pd.DataFrame({"Total Players": [player_count]})
player_df

   Total Players
0            576

# Purchasing Analysis (Total)

In [4]:
# Calculate the number of unique items
item_count = len(purchase_data_df["Item Name"].unique())
# Calculate the average price
ave_price = purchase_data_df["Price"].mean()
# Calculate the total number of purchases
purchase_count = len(purchase_data_df["Purchase ID"])
# Calculate the total revenue
revenue = purchase_data_df["Price"].sum()

purchase_analysis_df = pd.DataFrame({"Number of Unique Items":[item_count],
                                     "Average Price":[ave_price],
                                     "Number of Purchases":[purchase_count],
                                     "Total Revenue":[revenue]                                    
                                    })
#format the $$ value columns
purchase_analysis_df["Average Price"] = purchase_analysis_df["Average Price"].map("${:,.2f}".format)
purchase_analysis_df["Total Revenue"] = purchase_analysis_df["Total Revenue"].map("${:,.2f}".format)
#display the results
purchase_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

# Gender Demographics

In [5]:
#set the index to the diffrent players
demo_df = purchase_data_df.set_index("SN")
#remove duplicate player names
grouped_demo_df = demo_df.groupby(demo_df.index).first()
#count the different genders
gender = grouped_demo_df["Gender"].value_counts()
#create and print a dataframe with Total count and Percentage of players
gender_demo_df = pd.DataFrame({"Total Count":gender})
gender_demo_df["Percentage of Players"] = gender_demo_df['Total Count'] / gender_demo_df["Total Count"].sum() * 100
gender_demo_df["Percentage of Players"] = gender_demo_df["Percentage of Players"].map("{:,.2f}%".format)
#display the results
gender_demo_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

# Purchasing Analysis (Gender)

In [6]:
#filter the data frame by gender
pur_grouped_df = purchase_data_df.groupby(['Gender'])
#calculate purchase count
purchase_count = purchase_data_df["Gender"].value_counts()
#calculate average price
average_price = pur_grouped_df["Price"].mean()
#Total purchase value
total_value = pur_grouped_df["Price"].sum()
#Total purchase value
avg_per_person = total_value / gender
#Create a new dataframe to hold the new data
pur_analysis_df = pd.DataFrame({"Purchase Count":purchase_count,
                                "Average Purchase Price":average_price,
                                "Total Purchase Value":total_value,
                                "Avg Total Purchase per Person":avg_per_person
                               })
#format the 3 $ value columns
pur_analysis_df["Average Purchase Price"] = pur_analysis_df["Average Purchase Price"].map("${:,.2f}".format)
pur_analysis_df["Total Purchase Value"] = pur_analysis_df["Total Purchase Value"].map("${:,.2f}".format)
pur_analysis_df["Avg Total Purchase per Person"] = pur_analysis_df["Avg Total Purchase per Person"].map("${:,.2f}".format)
#display the results
pur_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

# Age Demographics

In [7]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
grps = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [8]:
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins, labels=grps, include_lowest=True)
#purchase_data_df

In [9]:
age_demo_df = purchase_data_df.set_index("SN")

grp_age_demo_df = age_demo_df.groupby(age_demo_df.index).first()

total_count = grp_age_demo_df["Age Group"].value_counts()

final_df = pd.DataFrame({"Total Count":total_count})
final_df = final_df.reindex(index = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+'])
final_df["Percentage of Players"] = final_df['Total Count'] / final_df["Total Count"].sum() * 100
final_df["Percentage of Players"] = final_df["Percentage of Players"].map("{:,.2f}%".format)
final_df

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

# Purchasing Analysis (Age)

In [10]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
grps = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins, labels=grps, include_lowest=True)
purchase_data_df.reset_index(drop=False)
#get the total count to use in calculations
age_demo_df = purchase_data_df.set_index("SN")
grp_age_demo_df = age_demo_df.groupby(age_demo_df.index).first()
total_count = grp_age_demo_df["Age Group"].value_counts()
total_count.index.name = "Age Group"
#Functions to calculate the columns
pur_grp_df = purchase_data_df.groupby(['Age Group'])
purch_count = pur_grp_df["Age Group"].count()
aver_price = pur_grp_df["Price"].mean()
total_val = pur_grp_df["Price"].sum()
avg_per_pers = total_val / total_count
#Dataframe to display the data
pur_anal_df = pd.DataFrame({"Purchase Count":purch_count,
                            "Average Purchase Price":aver_price,
                            "Total Purchase Value":total_val,
                            "Avg Total Purchase per Person":avg_per_pers
                           })
pur_anal_df["Average Purchase Price"] = pur_anal_df["Average Purchase Price"].map("${:,.2f}".format)
pur_anal_df["Total Purchase Value"] = pur_anal_df["Total Purchase Value"].map("${:,.2f}".format)
pur_anal_df["Avg Total Purchase per Person"] = pur_anal_df["Avg Total Purchase per Person"].map("${:,.2f}".format)
pur_anal_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

# Top Spenders

In [11]:
spend_df = purchase_data_df.groupby(["SN"])
purch_count = spend_df["SN"].count()
ave_price = spend_df["Price"].mean()
total_pur_val = spend_df["Price"].sum()
spenders_df = pd.DataFrame({"Purchase Count":purch_count,
                            "Average Purchase Price":ave_price,
                            "Total Purchase Value":total_pur_val                            
                           })
spenders_df = spenders_df.sort_values("Total Purchase Value", ascending=False)
spenders_df["Average Purchase Price"] = spenders_df["Average Purchase Price"].map("${:,.2f}".format)
spenders_df["Total Purchase Value"] = spenders_df["Total Purchase Value"].map("${:,.2f}".format)

spenders_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

# Most Popular Items

In [12]:
popular_df = purchase_data_df.groupby(["Item ID", "Item Name"])

item_count = popular_df["Item Name"].count()
item_price = popular_df["Price"].mean()
total_pur_val = popular_df["Price"].sum()
popular_item_df = pd.DataFrame({"Purchase Count":item_count,
                                "Item Price":item_price,
                                "Total Purchase Value":total_pur_val
                               })
popular_item_df = popular_item_df.sort_values("Purchase Count", ascending=False)
popular_item_df["Item Price"] = popular_item_df["Item Price"].map("${:,.2f}".format)
popular_item_df["Total Purchase Value"] = popular_item_df["Total Purchase Value"].map("${:,.2f}".format)
popular_item_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

# Most Profitable Items

In [13]:
popular_df = purchase_data_df.groupby(["Item ID", "Item Name"])
item_count = popular_df["Item Name"].count()
item_price = popular_df["Price"].mean()
total_pur_val = popular_df["Price"].sum()
popular_item_df = pd.DataFrame({"Purchase Count":item_count,
                                "Item Price":item_price,
                                "Total Purchase Value":total_pur_val
                               })
popular_item_df = popular_item_df.sort_values("Total Purchase Value", ascending=False)
popular_item_df["Item Price"] = popular_item_df["Item Price"].map("${:,.2f}".format)
popular_item_df["Total Purchase Value"] = popular_item_df["Total Purchase Value"].map("${:,.2f}".format)

popular_item_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80

# Three observable trends based on the data.

1. The highest number of purchases were made by the 20-24 year range group followed by 15-19.

2. Male players form the majority of the players.

3. The highest spend for any player was just under $20.